html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #f0f0f0;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card img{
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
}
.card-content{
    padding: 16px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p{
    width: auto;
    height: 70px;
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 16px;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}
.card:hover img{
    transform: scale(1.2);
}